*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #09090a;
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

button {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 125%;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  border: 0.0625rem solid #8b5cf6;
  border-radius: 0.5rem;
  transition: all 100ms ease;
}

button:hover {
  background: #a78bfa;
  /* border: 3px solid #8b5cf6;
  margin: -2px; */
  box-shadow: 0 0 0 2px #8b5cf6;
}

button:is(:hover, :focus) > svg path {
  stroke: #ffffff;
}

button:focus {
  background: #8b5cf6;
  box-shadow: 0 0 0 2px #a78bfa;

}

form {
  display: flex;
  gap: 2rem;
  padding: 0 3rem 3rem;
}

.habits {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 4.0625rem 0 0;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 2.5rem;
  font-size: 2rem;
}

.days {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.day span {
  color: #a1a1aa;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 125%;
  padding: 0.5rem 0;
}

.day input {
  appearance: none;
  -webkit-appearance: none;

  background: #18181b;
  border: 0.125rem solid #27272a;
  border-radius: 0.5rem;
  height: 4rem;
  width: 4rem;
  transition: 500ms ease;
}

input:hover {
  background: #a78bfa;
  border-color: #8b5cf6;
}

input:checked {
  background: #8b5cf6;
  border-color: #a78bfa;
}
