*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-corner {
  display: none;
}

body {
  background: #09090a;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  background: #09090a;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.btn-container {
  display: flex;
  width: fit-content;
  gap: 20px;
}

#addMockup {
  font-size: 10px;
  padding: 1rem 0.725rem;
}

:disabled {
  opacity: 30%;
  pointer-events: none;
}

button {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 125%;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  border: 0.0625rem solid #8b5cf6;
  border-radius: 0.5rem;
}

button * {
  transition: all 300ms ease;
}

form {
  overflow: scroll;
  display: flex;
  gap: 2rem;
  padding: 0 2rem 2rem;
}

.habits {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 4.0625rem 0 0;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 2rem;
}

.days {
  display: flex;
  gap: 3rem;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.day div {
  color: #a1a1aa;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 125%;
  padding: 0.5rem 0;
}

input {
  appearance: none;
  background: #18181b;
  border: 0.125rem solid #27272a;
  border-radius: 0.5rem;
  height: 4rem;
  width: 4rem;
  transition: 500ms ease;
}

input:checked {
  background: #8b5cf6;
  border-color: #a78bfa;
}

@keyframes blinker {
  50% {
    background: #e72121;
    opacity: 0;
  }
}

@media (min-width: 768px) {
  button:hover,
  input:hover {
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #a78bfa;
  }

  button:is(:hover) {
    background: #8b5cf6;
  }

  button:active {
    background: hsl(258, 90%, 60%);
  }

  button:is(:hover, :active) .ico {
    stroke: #ffffff;
  }

  input:hover:not(:checked) {
    background: #a78bfa;
    border-color: #8b5cf6;
  }
}

@media (max-width: 576px) {
  :hover,
  :focus {
    appearance: none;
  }

  body {
    justify-content: start;
  }

  header {
    padding: 1rem;
  }

  form {
    width: 100%;
    gap: 1rem;
    padding: 1rem;
  }

  button span {
    display: none;
  }

  .days {
    gap: 1rem;
    padding-right: 1rem;
  }
}
